beautifulsoup4
certifi
charset-normalizer
CTkMessagebox
customtkinter
darkdetect
idna
joblib
numpy
packaging
pandas
pillow
pyarrow
python-dateutil
pytz
requests
scikit-learn
scipy
six
soupsieve
threadpoolctl
tzdata
urllib3
